{{ rsnapshot_hourly_cron_expression }} root /usr/bin/rsnapshot hourly
{{ rsnapshot_daily_cron_expression }} root /usr/bin/rsnapshot daily
{{ rsnapshot_weekly_cron_expression }} root /usr/bin/rsnapshot weekly
{{ rsnapshot_monthly_cron_expression }} root /usr/bin/rsnapshot monthly
