{{ rsnapshot__hourly_cron_expression }} root /usr/bin/rsnapshot hourly
{{ rsnapshot__daily_cron_expression }} root /usr/bin/rsnapshot daily
{{ rsnapshot__weekly_cron_expression }} root /usr/bin/rsnapshot weekly
{{ rsnapshot__monthly_cron_expression }} root /usr/bin/rsnapshot monthly
